body{
    font-family: 'Pushster', cursive;
}
h1{
    font-size: 50px;
}
.special-color{
    color: blue;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 90%;
}